.formError{
	color:#ff0000;
	text-align:center;
	text-transform:capitalize;
        font-size:11px;
}
.formButtons{
	background-color: transparent;
	border: 1px solid #ccc;
	cursor: pointer;
	font-family: Arial;
	margin:25px;
	padding:8px 0px 8px 8px;
	color:#771102;
}